<nav class="sidebar" id="mainSidebar">
    <div class="sidebar-header">
        <div class="logo-placeholder">
            <img class="logo-nexus" src="../../../assets/logo-nexus-job.png" alt="NexusJob Logo" class="img-fluid">
        </div>
        <h3 class="text-white">NexusJob</h3>
    </div>

    <!-- Contenedor que muestra el nombre de la persona que esta logueada -->
    <div class="text-center">
        <ng-container *ngIf="isLoggedIn">
            <h5 routerLink="/profile">¡Hola, {{ userName }}!</h5>
        </ng-container>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                ariaCurrentWhenActive="page">Inicio</a>
        </li>
        <li>
            <a routerLink="/about-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                ariaCurrentWhenActive="page">Acerca de nosotros</a>
        </li>
        <li>
            <a routerLink="/servicios" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            ariaCurrentWhenActive="page">Servicios</a>
        </li>

        <ng-container *ngIf="!isLoggedIn">
            <li>
                <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    ariaCurrentWhenActive="page">Iniciar Sesión</a>
            </li>
            <li>
                <a routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    ariaCurrentWhenActive="page">Registrarse</a>
            </li>
        </ng-container>

        <ng-container *ngIf="isLoggedIn">
            <li>
                <a routerLink="/my-services" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">Mis servicios</a>
            </li>
            <li>
                <a (click)="onLogout()" style="cursor: pointer;">Cerrar Sesión</a>
            </li>
        </ng-container>

    </ul>
    <div class="sidebar-footer">
        <p>&copy; {{ currentYear }} NexusJob. Todos los derechos reservados.</p>
    </div>
</nav>