<link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Apple_gray_logo.png/1200px-Apple_gray_logo.png" type="image/x-icon">

<div class="home-container">
    <div class="welcome-section text-center p-5">
        <h1 class="display-4 mb-3">¡Bienvenido a NexusJob!</h1>
        <p class="lead mb-4">
            Tu plataforma ideal para conectar talento freelance con proyectos increíbles.
        </p>
        <p class="mb-1">
            ¿Eres un <b>desarrollador</b>, <b>diseñador</b>, <b>digitador</b>, <b>Marketing</b> o cualquier otro <b>profesional freelance</b> buscando
            nuevas oportunidades? ¡Estás en el lugar correcto!
        </p>
        <p class="mb-5">
            ¿Eres un cazatalentos, reclutador o necesitas un increíble profesional para tu equipo de trabajo? ¡Aquí puedes encontrarlo fácilmente!
        </p>
        <a href="#" class="btn btn-primary btn-lg me-3">Encuentra Servicios</a>
        <a routerLink="/login" class="btn btn-outline-light btn-lg">Ofrece tus Servicios</a>
    </div>

    <div class="features-section container py-1">
        <h2 class="text-center mb-5">¿Qué puedes hacer en NexusJob?</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body text-center">
                        <i class="bi bi-search feature-icon mb-3"></i>
                        <h5 class="card-title">Explora Talentos</h5>
                        <p class="card-text">Descubre una amplia gama de profesionales calificados listos para tus
                            proyectos.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body text-center">
                        <i class="bi bi-briefcase-fill feature-icon mb-3"></i>
                        <h5 class="card-title">Publica Proyectos</h5>
                        <p class="card-text">Encuentra al freelance perfecto publicando las necesidades de tu próximo
                            trabajo.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body text-center">
                        <i class="bi bi-person-check-fill feature-icon mb-3"></i>
                        <h5 class="card-title">Ofrece tus Habilidades</h5>
                        <p class="card-text">Crea tu perfil y publicaciones para que los clientes te encuentren
                            fácilmente.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>